<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623278585949-pgjt0cu5dpo4nlomoujunmlcrn954av7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623278585949-pgjt0cu5dpo4nlomoujunmlcrn954av7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>623278585949-3p9pa5g2d4tpshm03vt92bjma7min498.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDfL3nmowibt-FefYeIsuTZsmlaBOyLXbY</string>
	<key>GCM_SENDER_ID</key>
	<string>623278585949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mekedron.LiveTips</string>
	<key>PROJECT_ID</key>
	<string>livetips-app</string>
	<key>STORAGE_BUCKET</key>
	<string>livetips-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623278585949:ios:c73a48a4b09f7eaba4b5b4</string>
</dict>
</plist>